<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавление автомобиля</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
</head>
<body>
<a href="/home" id = "home">Главная</a>
    <h1>Добавление нового автомобиля</h1>
    <form method = "post" name = "form" onsubmit = "return valid_data()">
        <table id = "list" cellspacing = "0">
            <tr>
                <th>
                    Брэнд
                </th>
                <th>
                    Модель
                </th>
                <th> </th>
            </tr>
            <tr>
                <td>
                    <input name = "brand" type = "text" placeholder = "Введите брэнд" />
                </td>
                <td>
                    <input name = "autoModel" type = "text" placeholder = "Введите модель" />
                </td>
                <td>
                    <button type = "submit" onclick = "clientFormControl()">Добавить</button>
                </td>
                <div id = "err"></div>
        </table>
    </form>

    <!--<h2>Список автомобилей</h2>
    <form method = "post" name = "filter" th:action = "@{autoAdd/filterAuto}">
        <div>
            <div id = "select">Выберите брэнд:</div>
            <select name = "brand" id = "select">
                <div th:each = "el: ${autos}">
                    <option th:value = "${el.brand}" th:text = "${el.brand}"></option>
                </div>
            </select>
        </div>
        <div>
            <div id = "select">Выберите модель:</div>
            <select name = "autoModel" id = "select">
                <div th:each = "el: ${autos}">
                    <option th:value = "${el.model}" th:text = "${el.model}"></option>
                </div>
            </select>
        </div>
        <button type = "submit">Найти</button>
        <div id = "error"></div>
    </form>
    <div id = "list" th:each = "el: ${auto}">
        <form th:action = "'/autoEdit/' + ${el.idAuto}">
            <div id = "listItem" class = "listId" th:text="${el.idAuto}"> </div>
            <div id = "listItem" th:text="${el.brand}"></div>
            <div id = "listItem" th:text="${el.model}"></div>
            <button type = "submit" id = "listItem">Изменить</button>
        </form>
    </div>-->

</body>
</html>