<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Удаление автомобиля</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
    </head>
    <body>
        <a href="/home" id = "home">Главная</a>
        <h1>Удаление автомобиля</h1>
        <table id = "list" cellspacing = "0">
            <tr>
                <th>
                    Код
                </th>
                <th>
                    Брэнд
                </th>
                <th>
                    Модель
                </th>
                <th> </th>
            </tr>
            <div id = "list" th:each = "el: ${autos}">
            <tr>
                <form method = "post" name = "form">
                    <td>
                        <input id = "listItem" class = "listId" name = "idAuto" readonly th:value = "${el.idAuto}"/>
                    </td>
                    <td>
                        <input id = "listItem" type = "text" readonly th:value="${el.brand}"/>
                    </td>
                    <td>
                        <input id = "listItem" type = "text" readonly th:value = "${el.model}"/>
                    </td>
                    <td>
                        <button id = "listItem" type = "submit">Удалить</button>
                    </td>
                    <div id = "err"></div>
                </form>
            </tr>
        </div>
    </body>
</html>