<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Изменение клиента</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
    </head>
    <body>
        <a href="/home" id = "home">Главная</a>
        <h1>Изменение клиента</h1>
        <table id = "list" cellspacing = "0">
            <tr>
                <th>
                    Код
                </th>
                <th>
                    ФИО
                </th>
                <th>
                    Телефон
                </th>
                <th> </th>
                <th> </th>
            </tr>
            <div th:each = "el: ${clients}">
                <tr>
                    <form method = "post" name = "form" onsubmit = "return valid_data()">
                        <td>
                            <input name = "idClient" th:value = "${el.idClient}" type = "number" readonly />
                        </td>
                        <td>
                        <input name = "fio" type = "text" th:value="${el.lastName} + ' ' + ${el.firstName} + ' ' + ${el.secondName}"/>
                        </td>
                        <td>
                            <input name = "telephone" type = "tel" th:value = "${el.telephone}"/>
                        </td>
                        <td>
                            <button type = "submit" onclick = "clientFormControl()">Изменить</button>
                        </td>
                        <div id = "err"></div>
                    </form>
                </tr>
            </div>
        </table>
    </body>
</html>