<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавление клиента</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
</head>
<body>
<a href="/home" id = "home">Главная</a>
    <h1>Добавление нового клиента</h1>
    <table id = "list" cellspacing = "0">
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Телефон
            </th>
            <th> </th>
            <th> </th>
        </tr>
        <tr>
            <form method = "post" name = "form" onsubmit = "return valid_data()">
                <td>
                    <input name = "fio" type = "text" placeholder = "Введите ФИО клиента" />
                </td>
                <td>
                <!--TODO Шаблон для ввода телефона-->
                    <input name = "telephone" type = "tel" placeholder = "Введите телефон" />
                </td>
                <td>
                    <button type = "submit" onclick = "clientFormControl()">Добавить</button>
                </td>
                <div id = "err"></div>
            </form>
        </tr>
    </table>
</body>
</html>