<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Удаление клиента</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
    </head>
    <body>
        <a href="/home" id = "home">Главная</a>
        <h1>Удаление клиента</h1>
        <table id = "list" cellspacing = "0">
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Телефон
                </th>
                <th> </th>
                <th> </th>
            </tr>
            <div th:each = "el: ${clients}">
                <tr>
                    <form method = "post" name = "form">
                        <td>
                            <input id = "listItem" class = "listId" name = "idClient" readonly th:value = "${el.idClient}"/>
                        </td>
                        <td>
                            <input id = "listItem" type = "text" readonly th:value="${el.lastName} + ' ' + ${el.firstName} + ' ' + ${el.secondName}"/>
                        </td>
                        <td>
                            <input id = "listItem" type = "text" readonly th:value = "${el.telephone}"/>
                        </td>
                        <td>
                            <button id = "listItem" type = "submit">Удалить</button>
                        </td>
                    </form>
                </tr>
            </div>
        </table>

    </body>
</html>