/*#list {
    margin: 2px;
}

#listItem {
    display: inline-block;
    min-width: 100px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: left;
}*/

#listId {
    width: 30px!important;
}

#home {
    font-size: 26px;
}

table {
    margin: 10px 0;
}

td {
    border: 1px solid black;
    padding: 3px 5px;
}

input[name = "fio"] {
    width: 230px;
}