#parking {
    table-layout: auto;
    width: 100%;
    cellspacing: 0;
    border: 0;
}

#error {
    color: #ec0808;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.cost {
    text-align: right;
}