<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Все автомобили</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
</head>
<body>
    <a href="/home" id = "home">Главная</a>
    <h2>Все автомобили</h2>
    <form method = "post" name = "filter">
        <div>
            <div id = "select">Выберите брэнд:</div>
            <select name = "brand" id = "select">
                <div th:each = "el: ${autos}">
                    <option th:value = "${el.brand}" th:text = "${el.brand}"></option>
                </div>
            </select>
        </div>
        <div>
            <div id = "select">Выберите модель:</div>
            <select name = "autoModel" id = "select">
                <div th:each = "el: ${autos}">
                    <option th:value = "${el.model}" th:text = "${el.model}"></option>
                </div>
            </select>
        </div>
        <button type = "submit">Найти</button>
        <a href="/autoAll">Обновить</a>
    </form>
    <table id = "list" th:each = "el: ${autos}">
        <tr>
            <td>
                <div id = "listItem" class = "listId" th:text="${el.idAuto}"> </div>
            </td>
            <td>
                <div id = "listItem" th:text="${el.brand}"></div>
            </td>
            <td>
                <div id = "listItem" th:text="${el.model}"></div>
            </td>
            <td>
                <a id = "listItem" th:href = "'/autoEdit/' + ${el.idAuto}">Изменить</a>
            </td>
            <td>
                <a id = "listItem" th:href = "'/autoDelete/' + ${el.idAuto}">Удалить</a>
            </td>
        </tr>
    </table>

</body>
</html>