<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Изменение клиента</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
    </head>
    <body>
        <a href="/home" id = "home">Главная</a>
        <h1>Изменение клиента</h1>
        <div th:each = "el: ${clients}">
            <form method = "post" name = "form" onsubmit = "return valid_data()">
                <input name = "idClient" th:value = "${el.idClient}" type = "number" readonly />
                <input name = "fio" type = "text" th:value="${el.lastName} + ' ' + ${el.firstName} + ' ' + ${el.secondName}"/>
                <input name = "telephone" type = "text" th:value = "${el.telephone}"/>
                <button type = "submit" onclick = "clientFormControl()">Изменить</button>
                <div id = "err"></div>
            </form>
        </div>

        <!--<h2>Список клиентов</h2>
        <form method = "post" name = "filter" action = "clientEdit/filterClient">
            <input name = "fio" type = "text" placeholder = "Введите ФИО для поиска"/>
            <button type = "submit">Найти</button>
            <div id = "error"></div>
        </form>
        <div id = "list" th:each = "el: ${clients}">
            <form th:action = "'/clientEdit/' + ${el.idClient}">
                <div id = "listItem" class = "listId" th:text="${el.idClient}"> </div>
                <div id = "listItem" th:text="${el.lastName} + ' ' + ${el.firstName} + ' ' + ${el.secondName}"></div>
                <div id = "listItem" th:text="${el.telephone}"></div>
                <button type = "submit" id = "listItem">Изменить</button>
            </form>
        </div>-->

    </body>
</html>