<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавление клиента</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
</head>
<body>
<a href="/home" id = "home">Главная</a>
    <h1>Добавление нового клиента</h1>
    <form method = "post" name = "form" onsubmit = "return valid_data()">
        <input name = "fio" type = "text" placeholder = "Введите ФИО клиента" />
        <input name = "telephone" type = "text" placeholder = "Введите телефон" />
        <button type = "submit" onclick = "form_control()">Добавить</button>
        <div id = "err"></div>
    </form>

    <!--<h2>Список клиентов</h2>
    <form method = "post" name = "filter" action = "clientAdd/filterClient">
        <input name = "fio" type = "text" placeholder = "Введите ФИО для поиска"/>
        <button type = "submit">Найти</button>
        <div id = "error"></div>
    </form>
    <div id = "list" th:each = "el: ${clients}">
        <form th:action = "'/clientEdit/' + ${el.idClient}">
            <div id = "listItem" class = "listId" th:text="${el.idClient}"> </div>
            <div id = "listItem" th:text="${el.lastName} + ' ' + ${el.firstName} + ' ' + ${el.secondName}"></div>
            <div id = "listItem" th:text="${el.telephone}"></div>
            <button type = "submit" id = "listItem">Изменить</button>
        </form>
    </div>-->

</body>
</html>