<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Автостоянка</title>
    <script type="text/javascript" src="../static/javascript/main.js"></script>
</head>
    <body>
        <h1>Меню</h1>
        <div>
            <a href="clientAll">Клиенты</a>
            <menu>
                <a href="clientAdd">Добавить клиента</a><br>
                <a href="clientEdit">Редактировать клиента</a><br>
                <a href="clientDelete">Удалить клиента</a>
            </menu>
        </div>
        <div>
            <a href="autoAll">Автомобили</a>
            <menu>
                <a href="autoAdd">Добавить автомобиль</a><br>
                <a href="autoEdit">Редактировать автомобиль</a><br>
                <a href="autoDelete">Удалить автомобиль</a>
            </menu>
        </div>
        <div>
            <a href="parkingLotAll">Парковочные места</a>
            <menu>
                <a href="parkingLotAdd">Добавить парковочное место</a><br>
                <a href="parkingLotEdit">Редактировать парковочное место</a><br>
                <a href="parkingLotDelete">Удалить парковочное местто</a>
            </menu>
        </div>
        <div>
            <a href="parkingAll">Оформление парковки</a>
            <menu>
                <a href="parkingAdd">Оформить парковку</a><br>
                <a href="parkingEdit">Редактировать парковку</a><br>
                <a href="parkingDelete">Удалить пакровку</a>
            </menu>
        </div>
    </body>
</html>