<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Автостоянка</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <script type="text/javascript" src="../static/javascript/main.js"></script>
</head>
    <body>
        <h1 th:inline="text">Привет, [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выход"/>
        </form>
        <div id = "menu">
            <h1>Меню</h1>
            <div id="dropdown">
                <a href="clientAll" id="dropdown-item">Клиенты</a>
                <div id="dropdown-content">
                    <a href="clientAdd">Добавить клиента</a>
                    <a href="clientEdit">Редактировать клиента</a>
                    <a href="clientDelete">Удалить клиента</a>
                </div>
            </div>

            <div id="dropdown">
                <a href="autoAll" id="dropdown-item">Автомобили</a>
                <div id="dropdown-content">
                    <a href="autoAdd">Добавить автомобиль</a><br>
                    <a href="autoEdit">Редактировать автомобиль</a><br>
                    <a href="autoDelete">Удалить автомобиль</a>
                </div>
            </div>

            <div id="dropdown">
                <a href="parkingLotAll" id="dropdown-item">Парковочные места</a>
                <div id="dropdown-content">
                    <a href="parkingLotAdd">Добавить парковочное место</a><br>
                    <a href="parkingLotEdit">Редактировать парковочное место</a><br>
                    <a href="parkingLotDelete">Удалить парковочное местто</a>
                </div>
            </div>
            <div id="dropdown">
                <a href="parkingAll" id="dropdown-item">Оформление парковки</a>
                <div id="dropdown-content">
                    <a href="parkingAdd">Оформить парковку</a><br>
                    <a href="parkingEdit">Редактировать парковку</a><br>
                    <a href="parkingDelete">Удалить пакровку</a>
                </div>
            </div>
        </div>
    </body>
</html>