<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Добавление клиента</title>
    <script type="text/javascript" src="../javascript/main.js"></script>
</head>
<body>
    <form method = "post" name = "form" onsubmit = "return false">
        <input name = "fio" type = "text" id = "fio" placeholder = "Введите ФИО клиента" />
        <input name = "telephone" type = "text" id = "telephone" placeholder = "Введите телефон" />
        <button type = "submit" onclick = "form_control()">Добавить</button>
        <div id = "error"></div>
    </form>
</body>
</html>