<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Авторизация</title>
    </head>
    <body>
        <h1>Авторизация</h1>
        <form th:action="@{/login}" method="post">
            <table>
                <tr>
                    <td><span>Имя пользователя :</span></td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td><span>Пароль :</span></td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Войти"/></td>
                </tr>
            </table>
        </form>
        <a href = "/registration">Новый пользователь</a>
    </body>
</html>