<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Удаление оформленной парковки</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/parking.css}">
        <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
    </head>
    <body>
        <a href="/home" id = "home">Главная</a>
        <h1>Удаление оформленной парковки</h1>
            <form method = "post" name = "form">
                <table id = "list">
                    <tr>
                        <th>Код</th>
                        <th>Клиент</th>
                        <th>Автомобиль</th>
                        <th>Парковочное место</th>
                        <th>Номер места</th>
                        <th>Припаркован</th>
                        <th>Убыл</th>
                        <th>Оплачено</th>
                        <th></th>
                    </tr>
                    <div id = "list" th:each = "el: ${parking}">
                        <tr>
                            <td>
                                <input id = "listItem" class = "listId" name = "idParking" readonly th:value = "${el.idParking}"/>
                            </td>
                            <td>
                                <input id = "listItem" type = "text" readonly th:value="${el.clientByIdClient.lastName} + ' ' + ${el.clientByIdClient.firstName} + ' ' + ${el.clientByIdClient.secondName}"/>
                            </td>
                            <td>
                                <input id = "listItem" type = "text" readonly th:value = "${el.autoByIdCar.brand} + ' ' + ${el.autoByIdCar.model}"/>
                            </td>
                            <td>
                                <input id = "listItem" type = "text" readonly th:value = "${el.parkingLotByIdLot.name}"/>
                            </td>
                            <td>
                                <input id = "listItem" type = "number" readonly th:value = "${el.lotItem}"/>
                            </td>
                            <td>
                                <input id = "listItem" type = "datetime-local" readonly th:value = "${el.dateParking}"/>
                            </td>
                            <td>
                                <input id = "listItem" type = "datetime-local" readonly th:value = "${el.dateDepart}"/>
                            </td>
                            <td>
                                <input id = "listItem" type = "checkbox" readonly th:checked = "${el.paid}"/>
                            </td>
                            <td>
                                <button id = "listItem" type = "submit">Удалить</button>
                            </td>
                        </tr>
                    </div>
                </table>
            </form>
        </div>

    </body>
</html>