<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Оформление парковки</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/parking.css}">
        <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
    </head>
    <body>
    <a href="/home" id = "home">Главная</a>
        <h1>Оформление парковки</h1>
        <div id = "error" th:each = "el: ${error}" th:text = "${el}"></div>
        <form method = "post" name = "form" onsubmit = "return valid_data()">
            <table id = "table">
                <tr>
                    <th>Клиент</th>
                    <th>Автомобиль</th>
                    <th>Парковочное место</th>
                    <th>Номер места</th>
                    <th>Припаркован</th>
                    <th>Убыл</th>
                    <th>Оплачено</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <!--Выбор клиента-->
                        <select name = "idClient">
                            <div th:each = "el: ${clients}">
                                <option th:value = "${el.idClient}"
                                        th:text = "${el.lastName} + ' ' + ${el.firstName} + ' ' + ${el.secondName}">
                                </option>
                            </div>
                        </select>
                    </td>
                    <td>
                        <!--Выбор автомобиля-->
                        <select name = "idAuto">
                            <div th:each = "el: ${autos}">
                                <option th:value = "${el.idAuto}"
                                        th:text = "${el.brand} + ' ' + ${el.model}">
                                </option>
                            </div>
                        </select>
                    </td>
                    <td>
                        <!--Выбор парковочного еста-->
                        <select name = "idLot">
                            <div th:each = "el: ${lots}">
                                <option th:value = "${el.idLot}"
                                        th:text = "${el.name}">
                                </option>
                            </div>
                        </select>
                    </td>
                    <td>
                        <input name = "lotItem" type = "number" required placeholder = "Номер парковки" value = "1" />
                    </td>
                    <td>
                        <input name = "dateParking" type = "datetime-local" required />
                    </td>
                    <td>
                        <!--TODO CheckBox для активации/деактивации поля-->
                        <input name = "dateDepart" type = "datetime-local" />
                    </td>
                    <td>
                        <input name = "paid" type = "checkbox"/>
                    </td>
                    <td>
                        <button type = "submit" onclick="parkingFormControl()">Добавить</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>