<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Изменение оформления парковки</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/parking.css}">
    </head>
    <body>
        <a href="/home" id = "home">Главная</a>
        <h1>Изменение оформления парковки</h1>
        <div id = "error"></div>
            <table id = "table">
                <tr>
                    <th>Код</th>
                    <th>Клиент</th>
                    <th>Автомобиль</th>
                    <th>Парковочное место</th>
                    <th>Номер места</th>
                    <th>Припаркован</th>
                    <th>Убыл</th>
                    <th>Оплачено</th>
                    <th></th>
                </tr>
                <div th:each = "el: ${parking}">
                    <tr>
                        <form method = "post" name = "form">
                            <td>
                                <input name = "idParking" th:value = "${el.idParking}" type = "number" readonly />
                            </td>
                            <td>
                                <!--Выбор клиента-->
                                <select name = "idClient">
                                    <option selected disabled hidden th:value = "${el.clientByIdClient.idClient}"
                                        th:text="${el.clientByIdClient.lastName} + ' ' +
                                        ${el.clientByIdClient.firstName} + ' ' + ${el.clientByIdClient.secondName}">
                                    </option>
                                    <div th:each = "el2: ${clients}">
                                        <option th:value = "${el2.idClient}" th:selected="${i==el.clientByIdClient.idClient}"
                                                th:text = "${el2.lastName} + ' ' + ${el2.firstName} + ' ' + ${el2.secondName}">
                                        </option>
                                    </div>
                                </select>
                            </td>
                            <td>
                                <!--Выбор автомобиля-->
                                <select name = "idAuto">
                                    <option selected disabled hidden th:value = "${el.autoByIdCar.idAuto}"
                                            th:text="${el.autoByIdCar.brand} + ' ' + ${el.autoByIdCar.model}">
                                    </option>
                                    <div th:each = "el2: ${autos}">
                                        <option th:value = "${el2.idAuto}" th:selected="${i==el.autoByIdCar.idAuto} "
                                                th:text = "${el2.brand} + ' ' + ${el2.model}">
                                        </option>
                                    </div>
                                </select>
                            </td>
                            <td>
                                <!--Выбор парковочного еста-->
                                <select name = "idLot">
                                    <option selected disabled hidden th:value = "${el.parkingLotByIdLot.idLot}"
                                            th:text="${el.parkingLotByIdLot.name}">
                                    </option>
                                    <div th:each = "el2: ${lots}">
                                        <option th:value = "${el2.idLot}" th:selected="${i==el.parkingLotByIdLot.idLot}"
                                                th:text = "${el2.name}">
                                        </option>
                                    </div>
                                </select>
                            </td>
                            <td>
                                <input name = "lotItem" th:value = "${el.lotItem}" type = "number" placeholder = "Номер парковки" />
                            </td>
                            <td>
                                <input name = "dateParking" th:value = "${el.dateParking}" type = "datetime-local" />
                            </td>
                            <td>
                                <input name = "dateDepart" th:value = "${el.dateDepart}" type = "datetime-local" />
                            </td>
                            <td>
                                <input name = "paid" th:checked = "${el.paid}" type = "checkbox"/>
                            </td>
                            <td>
                                <button type = "submit">Изменить</button>
                            </td>
                        </form>
                    </tr>
                </div>
            </table>
        </div>
    </body>
</html>