<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Удаление парковочного места</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <script type="text/javascript" th:src="@{/javascript/main.js}"></script>
    </head>
    <body>
        <a href="/home" id = "home">Главная</a>
        <h1>Удаление парковочного места</h1>
        <table id = "list" cellspacing = "0">
            <tr>
                <th>
                    Код
                </th>
                <th>
                    Наименование
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Кол-во мест
                </th>
                <th>
                    Цена
                </th>
                <th> </th>
                <th> </th>
            </tr>
            <div th:each = "el: ${lots}">
                <tr>
                    <form method = "post" name = "form">
                        <td>
                            <input id = "listItem" class = "listId" name = "idLot" readonly th:value = "${el.idLot}"/>
                        </td>
                        <td>
                            <input id = "listItem" type = "text" readonly th:value="${el.name}"/>
                        </td>
                        <td>
                            <input id = "listItem" type = "text" readonly th:value="${el.address}"/>
                        </td>
                        <td>
                            <input id = "listItem" type = "number" readonly th:value = "${el.numLots}"/>
                        </td>
                        <td>
                            <input id = "listItem" type = "number" step="0.01" readonly th:value = "${el.price}"/>
                        </td>
                        <td>
                            <button id = "listItem" type = "submit">Удалить</button>
                        </td>
                    </form>
                </tr>
            </div>
        </table>

    </body>
</html>