<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Все парковочные места</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
    <a href="/home" id = "home">Главная</a>
    <h2>Все парковочные места</h2>
    <form method = "post">
        <div id = "select">Выберите наименование:</div>
        <select name = "name" id = "select">
            <div th:each = "el: ${lots}">
                <option th:value = "${el.name}" th:text = "${el.name}"></option>
            </div>
        </select>
        <button type = "submit">Найти</button>
        <a href="/parkingLotAll">Обновить</a>
    </form>
    <table id = "list" cellspacing = "0">
        <tr>
            <th>
                Код
            </th>
            <th>
                Наименование
            </th>
            <th>
                Адрес
            </th>
            <th>
                Кол-во мест
            </th>
            <th>
                Цена
            </th>
            <th> </th>
            <th> </th>
        </tr>
        <div th:each = "el: ${lots}">
            <tr>
                <td>
                    <div id = "listItem" class = "listId" th:text="${el.idLot}"> </div>
                </td>
                <td>
                    <div id = "listItem" th:text="${el.name}"></div>
                </td>
                <td>
                    <div id = "listItem" th:text="${el.address}"></div>
                </td>
                <td>
                    <div id = "listItem" th:text="${el.numLots}"></div>
                </td>
                <td>
                    <div id = "listItem" th:text="${el.price}"></div>
                </td>
                <td>
                    <a id = "listItem" th:href = "'/parkingLotEdit/' + ${el.idLot}">Изменить</a>
                </td>
                <td>
                    <a id = "listItem" th:href = "'/parkingLotDelete/' + ${el.idLot}">Удалить</a>
                </td>
            </tr>
        </div>
    </table>

</body>
</html>